/*
Theme Name: Education Hub
Theme URI: http://wenthemes.com/item/wordpress-themes/education-hub/
Author: WEN Themes
Author URI: http://wenthemes.com/
Description: Education Hub is a clean and elegant WordPress education theme with simplistic but unique look and feel. This theme is best suited for college, school, university and other educational websites. But this theme is not binded to be fit for educational websites only. This is also flexible enough to be used for business and corporate websites. Theme is highly customizable with layout settings and several other theme options which can be customized by using Theme Options panel based on powerful Customizer API. Education Hub helps you to easily and intuitively create professional and appealing educational websites. Official Support Forum: http://themepalace.com/support-forum/ Full Demo: http://wenthemes.com/theme-demos/?demo=education-hub
Version: 1.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: education-hub
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-menu, featured-images, full-width-template, post-formats, sticky-post, translation-ready, theme-options, threaded-comments, education, footer-widgets

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

This theme is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
  ## Links
  ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
  ## Posts and pages
  ## Asides
  ## Comments
# Infinite scroll
# Media
  ## Captions
  ## Galleries
# Custom by WEN Themes

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color:#666666;
    overflow-x:hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
   overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 15px;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 4px solid #ffab1f;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 20px;
}

blockquote,
q {
    quotes: "" "";
}

address {
  margin: 0 0 15px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size:15px;
    line-height: 1.6;
    margin-bottom: 15px;
    max-width: 100%;
    overflow: auto;
    padding:15px;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size:15px;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
p {
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #294a70;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
    margin: 0 0 15px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

h3{
    font-size: 17px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

ul,
ol {
    margin: 0 0 15px 25px;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}



/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
a.cta-button-primary,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #ffab1f;
    border: medium none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    padding: 5px 20px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
      background-color: #294a70;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 6px 0 6px 9px;

}

textarea {
    padding-left: 3px;
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a,
a:visited {
    color:#294a70;
    text-decoration: inherit;
}

a:hover,
a:focus,
a:active {
    color: #6081a7;

}

a:focus {
    outline:inherit;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

#main-nav {
    background-color: #294a70;
    border-bottom: 5px solid #f4a024;
    display: block;
    float: left;
    width: 100%;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
}

.main-navigation ul ul {
    background: #294a70 none repeat scroll 0 0;
    box-shadow: 0 1px 2px;
    display: none;
    left: 0;
    margin: 0;
    min-width: 200px;
    position: absolute;
    top: 44px;
    z-index: 9999;
}

.main-navigation ul ul ul {
    left:100%;
    top: 0
}

.main-navigation li {
    position: relative;
    display: inline-block;
    margin-bottom:0;
    float: left;
}

.main-navigation li li {
    float: none;
    display: block;
}

.main-navigation li:hover > ul{
    display: block;
}

.main-navigation ul li a {
    color: #ffffff;
    border-right: 1px solid #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 12px;
    position: relative;
    z-index: 99;

}

.main-navigation ul li:first-child > a {
    border-left: 1px solid #fff;
}

.main-navigation ul li li:first-child a {
    border-left:none;
}

.main-navigation ul ul a {
    border-bottom: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    padding: 9px 15px;
    text-align: left;
    width: 100%;
}

.main-navigation ul li.menu-item-has-children > a::after,
.main-navigation ul li.page_item_has_children > a::after {
    content: "\f107";
    font-family: fontawesome;
    margin-left: 10px;
    margin-right: 0;
    position: absolute;
    right: 10px;
    top: 12px;
}

.main-navigation ul li li.menu-item-has-children > a::after,
.main-navigation ul li li.page_item_has_children > a::after {
    content: "\f105";
    top: 10px;
}

.main-navigation ul li.menu-item-has-children a,
.main-navigation ul li.page_item_has_children a {
    padding-right: 30px;
}

.main-navigation li a:hover,
.main-navigation li.current-menu-item > a,
.main-navigation li.current_page_item > a ,
.main-navigation li:hover > a{
    background:#f4a024;
    color: #fff;
}

.enabled-sticky-primary-menu #main-nav.fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

/* Small menu. */

@media screen and (min-width:768px) {
.menu-toggle,.dropdown-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 15px;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;

}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.alignnone{
    clear: both;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
    border: 1px solid #dddddd;
    max-width: 100%;
    padding: 5px;
    width: 100%;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 15px;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.single .entry-content{
    text-align: left;
}

.entry-meta > span a,
.single-post-meta > span a,
.entry-footer > span a {
    font-style: italic;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 15px 0 0;
}

.entry-title {
    margin-bottom: 5px;
}

#featured-content .entry-title {
    margin-bottom: 10px;
}

.page-links {
    clear: both;
    margin: 0 0 15px;
}

.entry-meta > span:before,
.entry-footer > span:before,
.single-post-meta > span:before,
.block-meta a:before {
    display: inline-block;
    font-family: Fontawesome;
    height: 15px;
    margin-right:8px;
    content: "";
}

.block-meta {
    margin-bottom: 10px;
}

.block-meta a:before{
    content: "\f073";
}

span.comments-link::before {
    content: "\f086";
}

.entry-meta .posted-on::before,
.single-post-meta .posted-on::before{
    content: "\f073 ";
}

.entry-footer > .cat-links:before {
    content:"\f07c";
}

.entry-meta .byline::before,
.single-post-meta .byline::before {
    content: "\f007";
}

.entry-footer .edit-link:before{
    content: "\f044";
}

.entry-footer .tags-links:before{
    content: "\f02c";
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}


/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

#calendar_wrap caption {
    background: #ffa500 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 19px;
    padding: 5px 10px;
}

#calendar_wrap table {
    background: #294a70 none repeat scroll 0 0;
    color: #ffffff;
}

#calendar_wrap #next,
#calendar_wrap td#prev,
td#today{
    background: #ffab1f;
}

#calendar_wrap #next a,
#calendar_wrap td#prev a,
td#today a{
    color: #fff;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
#respond {
    clear: both;
    display: block;
    float: left;
    width: 97%;
}

.comments-area form#commentform p {
    float: left;
    width: 33.33%;
}

.comments-area #commentform p.comment-notes,
.comments-area #commentform p.comment-form-comment {
    width: 100%;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comment-form p {
    padding: 0 15px;
    width: 100%;
}

.comment-form {
    margin: 0 -15px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
    width: 33.33%;
    float: left;
}

.comment-list li.comment:after {
    content: inherit;
    display: none;
}

.comment-list li{
    padding-left: 0;
}

.comment {
    background-position: 0 -74px;
    display: block;
    float: left;
    width: 100%;
}

ol.comment-list {
    border-radius: 5px;
    float: left;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    overflow: inherit;
    padding: 0;
    width: 100%;
}

ol.comment-list .children {
    border: medium none;
    float: left;
    margin: 15px 0 15px 15px;
    width: 98%;
}

ol.comment-list li {
    list-style: outside none none;
}

.comment .comment-body {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0;
    clear: both;
    display: block;
    float: left;
    margin-top: 5px;
    padding: 10px 30px 10px 70px !important;
    position: relative;
    text-align: left;
    width: 100%;
}
.comment-author.vcard {
    font-size: 20px;
    margin-bottom: 5px;
}

.comment-list .children {
    background-position: left 20px;
    background-repeat: no-repeat;
    border-left: 1px solid rgb(238, 238, 238);
    margin-left: 0;
    padding-left: 40px;
}

.comment-list li.comment > div img.avatar {
    left: 29px;
    position: absolute;
    top: 29px;
}

#comment-form-title {
    font-size: 24px;
    padding-bottom: 10px;
}

.vcard .avatar {
    left: 20px;
    position: absolute;
    top: 20px;
}

.comment-metadata {
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 10px;
}

.comment-reply-link {
    background-color: #294a70;
    color: #ffffff;
    display: inline-block;
    float: none;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 1px 15px 3px;
    border-radius: 2px;
}

a.comment-reply-link:hover {
    background-color: #ffab1f;
    color:#fff;
}

.form-allowed-tags code {
    white-space: inherit;
    word-wrap: break-word;
}

.comment-respond label {
    display: block;
    font-weight: normal;
}

.comments-title {
    font-weight: normal;
    margin: 25px 0 0;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#commentform label {
    display: inline-block;
    width: 100px;
}

.nav-links span.current,
.nav-links a {
    background-color: #294a70;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 2px;
}
.nav-links a:hover,
a.cta-button-primary:hover,
.nav-links span.current {
    background-color: #ffab1f;
    color: #ffffff;
}

.page-links > span:first-child {
    padding: 0;
}

.page-links span {
    padding: 5px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
    margin-left: -15px;
    margin-right: -15px;
}

.gallery-item {
    display: inline-block;
    margin: 0 0 10px;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}



/*--------------------------------------------------------------
# Custom By WEN Themes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Custom Basic Reset By WEN Themes
--------------------------------------------------------------*/


/*Clearings*/

.clear-fix:before,
.clear-fix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

.clear-fix:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

#tophead::after,
#tophead::before,
#masthead::after,
#masthead::before,
#featured-slider::after,
#featured-slider::before,
#content::after,
#content::before,
#footer-widgets::after,
#footer-widgets::before,
#colophon::after,
#colophon::before,
#featured-content::after,
#featured-content::before,
#featured-news-events::after,
#featured-news-events::before {
  clear: both;
  content: "";
  display: table;
}

/*--------------------------------------------------------------
## Custom Basic Style By WEN Themes
--------------------------------------------------------------*/

.container{
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.inner-wrapper{
  margin-left: -15px;
  margin-right: -15px;
}

/*--------------------------------------------------------------
## Custom Basic Header Style By WEN Themes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Custom Basic Header Style By WEN Themes
--------------------------------------------------------------*/
.site-info a {
    color: #ffffff;
}

.site-header {
    clear: both;
    padding: 20px 0;
}

.site-logo-link, .custom-logo-link{
    float: left;
    margin-right: 10px;
    max-width:300px;
}

#site-identity {
    float: left;
    margin-top: 7px;
}

.site-title {
    clear: none;
    font-family: "Merriweather Sans",sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 6px;
}


.site-logo-link > img, .custom-logo-link img {
    max-height: 110px;
    width: auto;
}
.site-description {
    color: #666666;
    font-size: 14px;
    font-style: inherit;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-bottom: 0;
}

.site-content {
    padding:40px 0;
    float: left;
    width: 100%;
}
/* .home-content-not-enabled .site-content {
  padding: 0;
} */

.home-content-not-enabled .site-content {
  padding: 40px 0;
}

#tophead {
    background-color: #49688e;
    clear: both;
    font-family: "Merriweather Sans",sans-serif;
    min-height: 35px;
}

#quick-contact {
    float: left;
    padding-top: 8px;
}

#quick-contact li {
    border-left: 1px solid #fff;
    float: left;
    font-size: 14px;
    line-height: 1.1;
    list-style: outside none none;
    margin-left: 15px;
    padding-left: 15px;
}

#quick-contact li:first-child {
    border: medium none;
    margin: 0;
    padding: 0;
}

#quick-contact li::before {
    color:#ffab1f;
    content: "";
    display: inline-block;
    font-family: fontawesome;
    margin-right: 5px;
    font-size: 17px;
}

#quick-contact .top-news-title::before {
    color: #ffab1f;
    content: "\f0a4";
    float: left;
    font-family: fontawesome;
    font-size: 18px;
    line-height: 1;
    margin-right: 5px;
}

#quick-contact .top-news > p {
    color: #ffffff;
    margin: 0;
}

#quick-contact .top-news > p{
    float: left;
    min-width: 270px;
}

#quick-contact .top-news-title {
    display: block;
    float: left;
    margin-right: 15px;
}

#quick-contact li.quick-call::before {
    content: "\f095";
}

#quick-contact li.quick-email::before {
    content: "\f0e0";
}

#quick-contact > ul {
    margin: 0;
    padding: 0;
}

#quick-contact .top-news {
    border-left: 1px solid #fff;
    float: left;
    margin-left: 15px;
    padding-left: 15px;
}

#quick-contact > ul {
    float: left;
    margin: 0;
    padding: 0;
}

#quick-contact a,
#tophead {
    color: #ffffff;
}


#quick-contact a:hover,
#quick-contact li:hover a,
#quick-contact .top-news a:hover {
    color: #bfbfbf;
}

#quick-contact .top-news a {
    font-weight: bold;
    text-decoration: underline;
}


/*Quicek links */

.quick-links  a.links-btn {
    border: 1px solid #dddddd;
    color: #ffffff;
    display: inline-block;
    float: right;
    margin: 3px 0;
    padding: 4px 41px 4px 10px;
    position: relative;
}

.quick-links a.links-btn::after {
    background:#ffab1f none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.quick-links a.links-btn::before {
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 9px solid #fff;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 13px;
    width: 10px;
    z-index: 99;
}

.quick-links > ul {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 3px #040404;
    display: none;
    list-style: outside none none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 37px;
    width: 220px;
    z-index: 9999;
}

.quick-links:hover ul {
    display: block;
}

.quick-links ul li a {
    border-bottom: 1px solid #ddd;
    color: #333366;
    display: block;
    margin-bottom: 0;
    padding: 4px 10px;
}

.quick-links ul li a:hover {
    background-color: #ffab1f;
    color:#fff;
}

.quick-links {
    float: right;
    position: relative;
}

/*styling for top Socila links*/

.header-social-wrapper {
    float: right;
    max-width: 260px;
}

.header-social-wrapper  .education_hub_widget_social {
    margin: 0;
    float: right;
    width: auto;
}

.header-social-wrapper .education_hub_widget_social {
    float: right;
    margin: 0 2px 0 0;
    width: auto;
}
.header-social-wrapper .education_hub_widget_social ul {
  margin: 0;
}

.header-social-wrapper .education_hub_widget_social li a {
    border: 1px solid #dddddd;
    height: 29px;
    margin-right: 0;
    width: 29px;
    background: inherit;
}

.header-social-wrapper .education_hub_widget_social  ul li a:before {
  font-size:18px;
}

.header-social-wrapper .education_hub_widget_social li {
    margin: 4px 2.5px 0;
}
.header-social-wrapper .education_hub_widget_social ul li a:before {
  color: #fff;
  line-height: 1.6;
}






/*--------------------------------------------------------------
## Social Links Style By WEN Themes
--------------------------------------------------------------*/
.education_hub_widget_social {
  clear: both;
  overflow: hidden;
}

.education_hub_widget_social ul {
  margin: 0;
}

.education_hub_widget_social li a {
  background-color: #eaeaea;
  border: medium none;
  display: inline-block;
  height: 33px;
  line-height: 1.7;
  margin-right: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 33px;
}

.education_hub_widget_social  ul li a:before {
  font-size:19px;
}

.education_hub_widget_social li a i {
  color:#cacad8;
  font-size: 18px;
  font-weight: normal;
}

.education_hub_widget_social li {
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.education_hub_widget_social ul li a:before {
  color: #1f1f29;
  content: "\f0c1";
  display: block;
  font-family: FontAwesome;
  font-weight: normal;
  line-height: 1.7;
}

.education_hub_widget_social ul li a:hover {
    background-color: #31a9ff;
}

.education_hub_widget_social ul li a:hover:before{
  color: #fff;
}

.education_hub_widget_social ul li a[href*="facebook.com"]:before {
  content: "\f09a";
}

.education_hub_widget_social ul li a[href*="twitter.com"]:before {
  content: "\f099";
}

.education_hub_widget_social ul li a[href*="linkedin.com"]:before {
  content: "\f0e1";
}

.education_hub_widget_social ul li a[href*="plus.google.com"]:before {
  content: "\f0d5";
}

.education_hub_widget_social ul li a[href*="youtube.com"]:before {
  content: "\f167";
}

.education_hub_widget_social ul li a[href*="dribbble.com"]:before {
  content: "\f17d";
}

.education_hub_widget_social ul li a[href*="pinterest.com"]:before {
  content: "\f0d2";
}

.education_hub_widget_social ul li a[href*="bitbucket.org"]:before {
  content: "\f171";
}

.education_hub_widget_social ul li a[href*="github.com"]:before {
  content: "\f113";
}

.education_hub_widget_social ul li a[href*="codepen.io"]:before {
  content: "\f1cb";
}

.education_hub_widget_social ul li a[href*="flickr.com"]:before {
  content: "\f16e";
}

.education_hub_widget_social ul li a[href$="/feed/"]:before {
  content: "\f09e";
}

.education_hub_widget_social ul li a[href*="foursquare.com"]:before {
  content: "\f180";
}

.education_hub_widget_social ul li a[href*="instagram.com"]:before {
  content: "\f16d";
}

.education_hub_widget_social ul li a[href*="tumblr.com"]:before {
  content: "\f173";
}

.education_hub_widget_social ul li a[href*="reddit.com"]:before {
  content: "\f1a1";
}

.education_hub_widget_social ul li a[href*="vimeo.com"]:before {
  content: "\f194";
}

.education_hub_widget_social ul li a[href*="digg.com"]:before {
  content: "\f1a6";
}

.education_hub_widget_social ul li a[href*="twitch.tv"]:before {
  content: "\f1e8";
}

.education_hub_widget_social ul li a[href*="stumbleupon.com"]:before {
  content: "\f1a4";
}

.education_hub_widget_social ul li a[href*="delicious.com"]:before {
  content: "\f1a5";
}

.education_hub_widget_social ul li a[href*="mailto:"]:before {
  content: "\f0e0";
}
.education_hub_widget_social ul li a[href*="soundcloud.com"]:before {
  content: "\f1be";
}
.education_hub_widget_social ul li a[href*="wordpress.org"]:before {
  content: "\f19a";
}
.education_hub_widget_social ul li a[href*="wordpress.com"]:before {
  content: "\f19a";
}

.education_hub_widget_social ul li a[href*="jsfiddle.net"]:before {
  content: "\f1cc";
}

.education_hub_widget_social ul li a[href*="tripadvisor.com"]:before {
  content: "\f262";
}

.education_hub_widget_social ul li a[href*="foursquare.com"]:before {
  content: "\f180";
}

.education_hub_widget_social ul li a[href*="angel.co"]:before {
  content: "\f209";
}

.education_hub_widget_social ul li a[href*="slack.com"]:before {
  content: "\f198";
}

/*social links hover effect */

.education_hub_widget_social ul li a[href*="facebook.com"]:hover {
  background-color: #3b5998;
}

.education_hub_widget_social ul li a[href*="twitter.com"]:hover {
  background-color: #00aced;
}

.education_hub_widget_social ul li a[href*="plus.google.com"]:hover {
  background-color: #dd4b39;
}

.education_hub_widget_social ul li a[href*="/feed/"]:hover  {
  background-color: #dc622c;
}

.education_hub_widget_social ul li a[href*="wordpress.org"]:hover {
  background-color: #21759b;
}

.education_hub_widget_social ul li a[href*="github.com"]:hover {
    background-color: #000000;
}

.education_hub_widget_social ul li a[href*="linkedin.com"]:hover {
  background-color: #007bb6;
}

.education_hub_widget_social ul li a[href*="pinterest.com"]:hover {
  background-color: #cb2027;
}

.education_hub_widget_social ul li a[href*="flickr.com"]:hover {
  background-color: #ff0084;
}

.education_hub_widget_social ul li a[href*="vimeo.com"]:hover {
    background-color: #44bbff;
}
.education_hub_widget_social ul li a[href*="youtube.com"]:hover {
  background-color: #bb0000;
}

.education_hub_widget_social ul li a[href*="instagram.com"]:hover {
   background-color: #517fa4;
}

.education_hub_widget_social ul li a[href*="dribbble.com"]:hover {
  background-color: #ea4c89;
}

.education_hub_widget_social ul li a[href*="skype.com"]:hover {
  background-color: #12a5f4;
}

.education_hub_widget_social ul li a[href*="digg.com"]:hover {
  background-color: #333;
}

.education_hub_widget_social ul li a[href*="codepen.io"]:hover {
  background-color: #000;
}

.education_hub_widget_social ul li a[href*="reddit.com"]:hover {
  background-color: #ff4500;
}

.education_hub_widget_social ul li a[href*="mailto:"]:hover {
  background-color: #1d62f0;
}

.education_hub_widget_social ul li a[href*="foursquare.com"]:hover {
  background-color: #f94877;
}

.education_hub_widget_social ul li a[href*="stumbleupon.com"]:hover {
  background-color: #eb4924;
}

.education_hub_widget_social ul li a[href*="twitch.tv"]:hover {
  background-color: #6441a5;
}

.education_hub_widget_social ul li a[href*="tumblr.com"]:hover {
  background-color: #32506d;
}
.widget-area .education_hub_widget_social li::before {
    display: none;
}

.widget-area .education_hub_widget_social li {
    padding: 0;
}

.education_hub_widget_social ul li a[href*="foursquare.com"]:hover {
  background-color: #f94877;
}

.education_hub_widget_social ul li a[href*="stumbleupon.com"]:hover {
  background-color: #eb4924;
}

.education_hub_widget_social ul li a[href*="twitch.tv"]:hover {
  background-color: #6441a5;
}

.education_hub_widget_social ul li a[href*="tumblr.com"]:hover {
  background-color: #32506d;
}

.education_hub_widget_social ul li a[href*="soundcloud.com"]:hover {
  background-color: #ff5500;
}

.education_hub_widget_social ul li a[href*="wordpress.org"]:hover {
   background-color:#21759b;
}

.education_hub_widget_social ul li a[href*="jsfiddle.net"]:hover {
  background-color:#4679bd;
}

.education_hub_widget_social ul li a[href*="tripadvisor.com"]:hover {
   background-color:#86c171;
}

.education_hub_widget_social ul li a[href*="foursquare.com"]:hover {
   background-color:#FF00AA;
}

.education_hub_widget_social ul li a[href*="angel.co"]:hover {
   background-color:#000;
}

.education_hub_widget_social ul li a[href*="slack.com"]:hover {
   background-color:#56b68b;
}

/*Recent added social links*/
.education_hub_widget_social ul li a[href*="mailto:"]::before {
    content: "\f0e0";
}
.education_hub_widget_social ul li a[href*="soundcloud.com"]::before {
    content: "\f1be";
}
.education_hub_widget_social ul li a[href*="wordpress.org"]::before {
    content: "\f19a";
}
.education_hub_widget_social ul li a[href*="wordpress.com"]::before {
    content: "\f19a";
}

.education_hub_widget_social ul li a[href*="jsfiddle.net"]::before {
    content: "\f1cc";
}

.education_hub_widget_social ul li a[href*="tripadvisor.com"]::before {
    content: "\f262";
}



.education_hub_widget_social ul li a[href*="angel.co"]::before {
    content: "\f209";
}

.education_hub_widget_social ul li a[href*="slack.com"]::before {
    content: "\f198";
}


  /*hover effect*/

.education_hub_widget_social ul li a[href*="soundcloud.com"]:hover{
    background-color: #ff5500;
}
.education_hub_widget_social ul li a[href*="wordpress.org"]:hover,
.education_hub_widget_social ul li a[href*="wordpress.com"]:hover{
    background-color:#45bbe6;
}
.education_hub_widget_social ul li a[href*="jsfiddle.net"]:hover {
    background-color:#4679bd;
}
.education_hub_widget_social ul li a[href*="tripadvisor.com"]:hover{
    background-color:#86c171;
}

.education_hub_widget_social ul li a[href*="angel.co"]:hover{
    background-color:#000;
}
.education_hub_widget_social ul li a[href*="slack.com"]:hover {
    background-color:#56b68b;
}

/*--------------------------------------------------------------
## Custom Basic Slider Style By WEN Themes
--------------------------------------------------------------*/


#main-slider img{
    width:100%;
}

#main-slider {
    clear: both;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#main-slider img{
    width: 100%;
    vertical-align: middle;
}

#main-slider article.first{
    display: block;
}

#main-slider article{
    display: none;
}

#main-slider .pager-box {
    background: #f4a024 none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius:100%;
    cursor: pointer;
    display: inline-block;
    float: none;
    z-index: 99;
    height: 20px;
    margin: 3px 7px;
    width: 20px;
}

#main-slider .pager-box.cycle-pager-active{
    background:#294a70 none repeat scroll 0 0;
}

#main-slider .cycle-pager {
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
}

#main-slider .cycle-caption {
    background-color:rgba(255, 255, 255, 0.85);
    border-radius: 0 152px 0 0;
    border-right: 8px solid #f4a024;
    height: auto;
    left: 7.5%;
    max-width: 37.1%;
    padding: 18px 45px 18px 25px;
    position: absolute;
    text-align: left;
    top: 37%;
    width: auto;
    z-index: 999;
}

#main-slider a,
#main-slider h3 {
    color: #294a70;
}

#main-slider  p {
    color: #09254b;
    font-size: 17px;
    margin-bottom: 5px;
    text-shadow: 0 0 2px #ffffff;
}

#main-slider  h3 {
    color: #15305b;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-shadow: -1px 1px 1px #ffffff;
}

#main-slider .cycle-prev:hover::after,
#main-slider .cycle-next:hover::after{
    background-color: #f4a024;
    border-radius: 0;
}

#main-slider .cycle-prev:hover{
    left: -5px;
}

#main-slider .cycle-next:hover{
    right: -5px;
}

#main-slider .cycle-prev::after,
#main-slider .cycle-next::after {
    background-color: #294a70;
    border-radius: 0 30px 30px 0;
    display: block;
    font-size: 36px;
    padding: 15px 20px 15px 25px;
    text-shadow: 0 0 1px #000000;
     transition: all 0.5s ease-in-out 0s;
}

#main-slider .cycle-next::after {
    padding: 15px 25px 15px 20px;
    border-radius: 30px 0 0 30px;

}

#main-slider .cycle-slideshow {
    margin-bottom: 0;
    padding: 0;
}

#main-slider .cycle-prev:after{
    content: "\f104";
    font-family:fontawesome;
}

#main-slider .cycle-prev:hover::after,
#main-slider .cycle-next:hover::after{
    color:#fff;
}

#main-slider .cycle-next:after {
    content: "\f105";
    height: auto;
    font-family:fontawesome;
}

#main-slider .cycle-prev,
#main-slider .cycle-next {
    border-radius: 31px;
    bottom: 47%;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 0.9;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    z-index: 999;
    transition: all 0.2s ease-in-out 0s;
}

#main-slider .cycle-prev{
    left:-18px;
}

#main-slider  .cycle-next {
    right:-18px;
}

#main-slider .cycle-slide{
    width: 100%;
}


/*search section*/

.search-section {
    float: right;
    padding-top: 15px;
    width: 30%;
}

.search-form .search-field {
    border-radius: 20px;
    padding: 10px 25% 10px 5%;
    width: 70%;
}

.widget-area .search-form .search-field {
    width: 51%;
}

.search-form .search-submit {
    background-color: #294a70;
    border-radius: 0 20px 20px 0;
    float: right;
    padding: 8.9px 15px;
    position: absolute;
    right: -2px;
    top: 0;
}

.search-form .search-submit:hover {
    background-color:#ffab1f;
}

.search-form {
    margin: 0 auto;
    max-width: 350px;
    position: relative;
}

/*--------------------------------------------------------------
## Custom Basic Content Style By WEN Themes
--------------------------------------------------------------*/


#content article {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 25px;
}

#primary{
    width: 75%;
    padding-left:15px;
    padding-right: 15px;
    float: left;
}

#sidebar-primary .widget-title::after ,
#sidebar-secondary .widget-title::after{
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    border-top: 9px solid #294a70;
    bottom: -20px;
    content: "";
    display: block;
    height: 21px;
    left: 5%;
    margin: 0 auto;
    position: absolute;
    width: 13px;
    z-index: 9999;
}

#sidebar-primary .widget-title,
#sidebar-secondary .widget-title {
    background: #294a70 none repeat scroll 0 0;
    border-bottom: 0 solid #ffab1f;
    border-left: 5px solid #ffab1f;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    padding: 5px 15px;
    position: relative;
}


.widget-area ul li::before {
    color: #ffab1f;
    content: "\f101";
    display: inline-block;
    font-family: fontawesome;
    font-size: 15px;
    left: 0;
    margin-left: 5px;
    margin-right: 8px;
    position: absolute;
}

.widget-area .widget {
    clear: both;
    float: left;
    width: 100%;
}

.widget-area ul ul ul ul ul > li {
    padding-left: 0;
}
.widget-area ul ul ul ul ul > li:before {
    left:-20px;

}
/*--------------------------------------------------------------
## Custom Basic Sidebar Style By WEN Themes
--------------------------------------------------------------*/

#sidebar-primary {
    width:25%;
    padding-left:15px;
    padding-right: 15px;
    float: right;
}

#sidebar-secondary {
    width:25%;
    padding-left:15px;
    padding-right: 15px;
    float: right;
}

.widget-area ul {
    list-style: outside none none;
    margin-left: 0;
    padding-left: 0;
}

.widget-area ul ul {
    margin-bottom: 0;
    border: none;
}

.widget-area ul li {
    padding: 2px 0 2px 25px;
    position: relative;
}

.attachment-full.wp-post-image {
    margin: 0 0 15px 0;
}

.recent-news {
    float: left;
    padding: 0 15px;
    width: 60%;
}

.recent-events {
    float: left;
    padding: 0 15px;
    width: 40%;
}

.news-post {
    float: left;
    padding: 0 15px;
    width: 50%;
}

.news-post:last-child {
    border: medium none;
}

.recent-events img {
    max-width: 95px;
}

#featured-content article {
    float: left;
    padding: 0 15px;
}

#featured-content .featured-content-column-1 article{
    width: 100%;
}

#featured-content .featured-content-column-2 article{
    width: 50%;
}

#featured-content .featured-content-column-3 article{
    width: 33.33%;
}

#featured-content .featured-content-column-4 article{
    width: 25%;
}

#featured-content {
    background: #fbfbfb none repeat scroll 0 0;
    padding: 30px 0;
    float: left;
    width: 100%;
}

#featured-news-events h2::before {
    content: "";
    display: inline-block;
    font-family: fontawesome;
    margin-right: 15px;
}

#featured-news-events .recent-news h2::before{
    content: "\f1ea"
}

#featured-news-events .recent-events h2::before{
    content: "\f073"
}

#featured-news-events h3 {
    margin-bottom: 5px;
}

.event-post .entry-meta {
    background: #ffab1f none repeat scroll 0 0;
    border-radius: 8px 8px 5px 5px;
    border-top: 3px solid #002147;
    color: #ffffff;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
    margin: 10px 20px 10px 0;
    padding: 0 10px 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 0 1px #5d5d5d;
    width: 71px;
}

.event-post .entry-meta::before {
    border: 1px solid #ffab1f;
    border-radius: 100%;
    content: "";
    display: block;
    height: 25px;
    left: 24px;
    position: absolute;
    top: -15px;
    width: 25px;
}

.event-post .entry-meta::after {
    border: 1px solid #ffffff;
    border-radius: 100%;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 44px;
    width: 100%;
}

a.button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 15px;
    padding: 0;
}

a.button:hover{
    color:#6081a7;
}

a.button::after {
    content: "\f101";
    font-family: fontawesome;
    margin-left: 5px;
}

.event-post .entry-meta a{
    color: #fff;
}

.event-post {
    background: #f3f3f3 none repeat scroll 0 0;
    clear: both;
    margin-bottom: 18px;
    overflow: hidden;
    padding: 15px 15px 0;
}

#featured-news-events {
    clear: both;
    padding: 30px 0 15px;
}

.news-content {
    background: #f3f3f3 none repeat scroll 0 0;
    border-top: 5px solid #ffab1f;
    padding: 15px;
}

.news-post img{
    margin-bottom:0;
}


/*--------------------------------------------------------------
## Custom Basic Footer Style By WEN Themes
--------------------------------------------------------------*/

#footer-widgets {
    background-color: #294a70;
    border-top: 5px solid #ffab1f;
    float: left;
    padding: 30px 0;
    width: 100%;
}

.footer-widget-area  ul {
    margin: 0;
}

.footer-widget-area  ul li{
    list-style: none;
    position: relative;
    padding-left: 20px;
}

.footer-widget-area ul li::before {
    color: #ffab1f;
    content: "\f101";
    display: inline-block;
    font-family: fontawesome;
    font-size: 15px;
    left: 0;
    margin-left: 5px;
    margin-right: 8px;
    position: absolute;
}

.news-content {
    background: #f3f3f3 none repeat scroll 0 0;
    border-top: 5px solid #ffab1f;
    margin-bottom: 20px;
    padding: 15px;
}

.footer-widget-area:first-child{
    border:none;
}

.footer-widget-area {
    border-left: 1px dashed #939393;
    float: left;
    height: 100%;
    padding: 0 25px;
}

#footer-widgets .inner-wrapper{
    margin-left: -25px;
    margin-right: -25px;
}

.footer-widget-area  a{
    color:#fff;
}

.footer-widget-area a:hover,
#colophon a:hover{
    color:#c2c2c2;
}

#colophon a {
    color: #c2c2c2;
}

#colophon a:hover {
    opacity: 0.5;
}

.footer-widget-area p,
.footer-widget-area{
    color: #fff;
}

#footer-widgets .widget-title {
    color: #c2c2c2;
    font-weight: normal;
}

.footer-active-1{
    width: 100%;
}

.footer-active-2{
    width: 50%;
}

.footer-active-3{
    width: 33.33%;
}

.footer-active-4{
    width: 25%;
}

.site-footer {
    background-color: #15305b;
    clear: both;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

.copyright {
    margin-bottom: 5px;
    margin-top: 5px;
}

.social-links {
    margin-bottom: 15px;
}

#footer-navigation li:first-child a,
#quick-links-404 ul li:first-child a {
    border: medium none;
}

#footer-navigation li a,
#quick-links-404 ul li a {
    border-left: 1px solid #dddddd;
    line-height: 0.2;
}

/*--------------------------------------------------------------
## Inner pages Style By WEN Themes
--------------------------------------------------------------*/

#footer-navigation li a,
#quick-links-404 ul li a {
    color: #ffffff;
    display: block;
    padding: 5px 10px;
}

#footer-navigation ul{
    margin: 0;
}

#quick-links-404 {
    margin-top: 10px;
}

#footer-navigation li,
#quick-links-404 ul li {
    display: inline-block;
    list-style: outside none none;
}
.footer-widget-area .education_hub_widget_social ul li {
    padding: 0;
}
.footer-widget-area .education_hub_widget_social ul li:before {
    display: none;
}


/*--------------------------------------------------------------
## Custom Basic Layout Style By WEN Themes
--------------------------------------------------------------*/

body.site-layout-boxed{
  background-color: #ddd;
}

.site-layout-boxed #tophead,
.site-layout-boxed #masthead,
.site-layout-boxed #main-nav,
.site-layout-boxed #featured-slider,
.site-layout-boxed #featured-content,
.site-layout-boxed #footer-widgets,
.site-layout-boxed #colophon {
  margin-left: -25px;
  margin-right: -25px;
}

.site-layout-boxed #tophead,
.site-layout-boxed #masthead,
.site-layout-boxed #featured-content,
.site-layout-boxed #footer-widgets,
.site-layout-boxed #colophon{
  padding-left:25px;
  padding-right:25px;
}

.site-layout-boxed #main-nav,
.site-layout-boxed #footer-widgets {
    width: 105%;
}

.site-layout-boxed #page {
    background: #ffffff;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}

.site-layout-fluid #page {
  background: inherit;
  box-shadow: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-layout-boxed #page .container {
  padding: 0;
  width: 100%;
}

.global-layout-left-sidebar #primary {
  float: right;
}

.global-layout-three-columns #primary {
  display: inline-block;
  float: none;
  width: 50%;
}

.global-layout-three-columns #sidebar-primary {
  float: left;
  width: 25%;
}

.global-layout-no-sidebar #primary{
  width: 100%;
}

.site-layout-fluid #featured-slider .container {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.site-layout-fluid #main-slider {
  margin: 0;
}

/*--------------------------------------------------------------
## Custom Basic Scrollup Style By WEN Themes
--------------------------------------------------------------*/

.scrollup {
  background: #ffab1f none repeat scroll 0 0;
  bottom: 50px;
  color: #ffffff;
  display: none;
  float: right;
  line-height: 1.2;
  padding: 5px 10px 10px;
  position: fixed;
  right: 32px;
  text-align: center;
  z-index: 99999;
}
.scrollup i {
  font-size: 26px;
  color:#294a70;
}
.scrollup:hover i {
  font-size: 26px;
  color:#fff;
}

/*--------------------------------------------------------------
## Custom Basic Inner Pages Style By WEN Themes
--------------------------------------------------------------*/

.entry-footer > span,
.entry-meta > span{
    margin-right: 15px;
}


section.error-404 {
    text-align: center;
}

h2.error-title {
    font-size: 113px;
    font-style: italic;
    text-shadow: 3px 3px 0 #ffab1f;
}



#quick-links-404 ul li a{
    color: #404040;
}

.error404 #primary {
    width: 100%;
}

form.wpcf7-form input[type="text"],
form.wpcf7-form input[type="email"],
input[type="url"] {
    width: 100%;
}

/*--------------------------------------------------------------
### Custom Basic Breadcrumb  Style By WEN Themes
--------------------------------------------------------------*/

#breadcrumb {
  background: #f4f4f4 none repeat scroll 0 0;
  clear: both;
  padding-bottom: 15px;
  padding-top: 15px;
}





/*--------------------------------------------------------------
## Custom Basic Responsive Style By WEN Themes
--------------------------------------------------------------*/


/*  Media Queries
--------------------------- */
/* Smaller than standard 1139 (devices and browsers) */
@media only screen and (max-width:1169px){
    #page,
    .container  {
          width: 97%;
    }

    .main-navigation ul li a {
        font-size: 14px;
        padding: 10px 15px;
    }

    #main-slider .cycle-caption{
        max-width: 50%;
    }
    .main-navigation ul ul {
        top:41px;
    }
}
/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1023px){
  .inner-wrapper,
  #footer-widgets .inner-wrapper {
      margin-left: -15px;
      margin-right: -15px;
  }

  #page {
      padding: 0 15px;
      width: 97%;
  }

  #primary,
  #sidebar-primary,
  #sidebar-secondary,
  .site-footer {
      padding-left: 15px;
      padding-right: 15px;
  }

  #main-slider .cycle-caption{
      padding:15px;
  }

  #main-slider .cycle-prev,
  #main-slider .cycle-next{
      bottom: 40%;
  }

  #main-slider .cycle-caption {
      left: 8.5%;
      max-width: 60%;
      padding: 15px 22px;
      top: 25%;
      width: auto;
      z-index: 999;
  }

  #main-slider .cycle-slide {
      width: 100%;
  }

  .main-navigation ul li a {
      font-size: 15px;
      padding: 10px 13px;
  }

  .quick-links {
      margin: 10px auto;
  }

  #calendar_wrap td,
  #calendar_wrap th {
      font-size: 12px;
      padding: 3px;
  }

  #quick-contact {
      float: left;
      padding-top: 20px;
  }

  #notice-ticker,
  .top-news > p {
    min-width: 125px;
 }
    .header-social-wrapper {
        float: left;
        margin-top: 9px;
    }
    #quick-contact {
        padding-top: 20px;
        width: 100%;
    }
}



/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px){


  h1 {
      font-size:22px;
  }

  h2 {
      font-size: 20px;
  }

  h3{
      font-size: 18px;
  }

  h4 {
      font-size:16px;
  }

  h5 {
      font-size: 15px;
  }

  h6 {
      font-size: 14px;
  }
    #page #masthead {
        background-position: center top;
        background-size: 100% auto;
        padding-top:110px;
    }
  #page,
  .container  {
      width:100%;
      padding: 0 15px;
  }

  .site-content {
      padding-top: 15px;
  }

  .site-main .post {
      margin-bottom: 15px;
  }

  #primary,
  #sidebar-primary,
  #sidebar-secondary{
      width: 100%;
      clear: both;
  }

  .site-branding {
      text-align: center;
  }

  .site-layout-boxed  #page {
      box-shadow: inherit;
      margin-bottom: 15px;
      margin-top: 15px;
      width: 93%;
  }

  .global-layout-three-columns #primary,
  .global-layout-three-columns #sidebar-primary,
  .global-layout-three-columns #sidebar-secondary {
      display: inline-block;
      float: none;
      width: 100%;
  }

  #quick-contact li {
      display: inline-block;
      float: none;
      margin: 10px 0;
      padding: 0 10px;
  }

  #quick-contact > ul {
      float: left;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
  }

  #quick-contact {
      padding-top: 8px;
  }

   #quick-contact .top-news-title::before {
      float: none;
  }

 #quick-contact .top-news {
      border: medium none;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
  }

  .search-section {
      clear: both;
      float: right;
      padding-top: 15px;
      width: 100%;
  }

  #site-identity {
      display: inline-block;
      float: none;
      margin-top: 7px;
  }

  .site-logo-link, .custom-logo-link{
      display: inline-block;
      float: none;
      margin-right: 10px;
      max-width: 75px;
  }
.site-logo-link, .custom-logo-link{
    float: none;
}

/*Top Header social links*/

.header-social-wrapper {
    float: left;
    margin-bottom: 15px;
    max-width: inherit;
    text-align: center;
    width: 100%;
}
.header-social-wrapper .education_hub_widget_social li {
    display: inline-block;
    float: none;
    margin: 4px 2.5px 0;
}
.header-social-wrapper .education_hub_widget_social {
    float: none;
    margin: 0 2px 0 0;
    width: 100%;
}


  /*featured slider style*/

  #main-slider .cycle-prev:after,
  #main-slider .cycle-next:after {
      display: block;
      font-size: 32px;
  }

  #main-slider .cycle-prev,
  #main-slider .cycle-next {
      bottom: 35%;
  }

  #main-slider .cycle-caption {
      left: 12.5%;
  }

  #main-slider .cycle-caption p {
      font-size: 13px;
      height: 63px;
      overflow: hidden;
  }

  #main-slider .cycle-caption h3 {
      font-size: 19px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 6px;
  }

  #featured-content .featured-content-column-3 article {
      width: 50%;
  }

  .recent-news,
  .recent-events {
      float: left;
      padding: 0 15px;
      width: 100%;
  }

  .news-post {
      float: left;
      padding: 0 15px;
      width: 50%;
  }

  #featured-slider {
      clear: both;
      display: block;
  }

  .site-header {
      clear: both;
      padding: 15px 0;
  }

  .recent-news,
  .recent-events {
      margin-bottom: 15px;
  }

 /* Responsive Menu styling*/

  .main-navigation li {
      display: block;
      float: inherit;
      margin-bottom: 0;
      position: relative;
      clear: both;
  }

  .main-navigation li a{
      padding:10px 15px;
      clear: both;
      border-bottom: 1px solid;
  }

  .main-navigation li li a {
      padding-left: 30px;
  }

  .main-navigation li li li a {
      padding-left: 40px;
  }

  .main-navigation li li li li a {
      padding-left: 60px;
  }

  .main-navigation li:hover > a {
      background:inherit;
      color: #ffffff;
  }

  .main-navigation ul ul,
  .main-navigation ul ul ul {
      clear: both;
      display: none;
      float: left;
      left: 0;
      position: inherit;
      top: inherit;
      width: 100%;
  }

  .main-navigation li:hover > ul {
      display: none;
  }

  #main-nav{
      background: inherit;
  }

  .main-navigation ul.sub-menu.toggled-on {
      display: block;
  }
  .main-navigation ul {
      background: #294a70 none repeat scroll 0 0;

  }
  .wrap-menu-content {
      background-color: #666666;
      display: none;
      left: 3.5%;
      position: absolute;
      width: 93%;
      z-index: 9999;
  }

  .main-navigation.toggled .wrap-menu-content {
      display: block;
  }

  .menu-toggle {
      background-color: #294a70;
      border-radius: 3px;
      display: block;
      font-size: 20px;
      line-height: 1.3;
      margin: 15px auto;
      padding: 5px 20px 5px 15px;
      border-radius: 0;
  }

  .menu-toggle i {
      border-right: 1px solid #dddddd;
      float: left;
      font-size: 26px;
      line-height: 1;
      margin-right: 10px;
      padding-right: 15px;
  }

  .dropdown-toggle {
      background:#ffab1f ;
      border: 0 none;
      box-sizing: content-box;
      content: "";
      height: 43px;
      padding: 0;
      position: absolute;
      right: 0;
      text-transform: lowercase;
      top: 0;
      width: 43px;
      z-index: 9999;
  }

  .dropdown-toggle.toggle-on:after {
      content: "-";
      font-size: 45px;
      font-weight: normal;
      line-height: 0.5;
  }

  .dropdown-toggle:after {
      color: #ffffff;
      content: "+";
      font-size: 30px;
      font-weight: bold;
      left: 1px;
      line-height: 42px;
      position: relative;
      top: 0;
      width: 42px;
  }

  .main-navigation ul li.menu-item-has-children > a::after,
  .main-navigation ul li.page_item_has_children > a::after{
      display: none;
  }

 /* Responsive Menu styling*/

    .footer-widget-area {
        float: left;
        padding: 0 15px;
        width: 50%;
    }

    #main-slider .cycle-pager {
        bottom: -29px;
    }

    .comments-area form#commentform p {
        float: left;
        width: 100%;
    }

    .comments-area input{
        width: 100%;
    }

    #respond {
        clear: both;
        display: block;
        float: left;
        width: 100%;
    }

    .notice-inner-wrap {
        width: 100%;
    }

    #quick-contact .top-news > p {
        float: none;
        min-width: 100%;
        text-align: center;
        margin:0;
    }

    #quick-contact {
        width: 100%;
    }

    #quick-contact .top-news {
        text-align: center;
        width: 100%;
    }

    .quick-links a.links-btn {
        width: 100%;
    }

    .quick-links {
        float: left;
        width: 100%;
    }

    .quick-links > ul {
        width: 100%;
    }

     #quick-contact .top-news-title {
        display: block;
        float: left;
        margin-right: 10px;
    }

     #quick-contact .top-news > p {
        float: none;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 0;
        min-width: inherit;
        text-align: left;
    }
    .site-layout-boxed #footer-widgets {
        width: 111%;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:610px){
    #page #masthead {
        background-position: center top;
        background-size: 100% auto;
        padding-top: 95px;
    }

    .scrollup {
        bottom: 15px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px){

.site-layout-boxed #footer-widgets {
    width: 117%;
}
   #page #masthead {
    background-position: center top;
    background-size: 100% auto;
    padding-top: 60px;
}
 #main-slider .cycle-caption {
      left: 13%;
      padding: 5px 10px;
      top: 55px;
      width: 62%;
  }

  #main-slider .cycle-caption p {
      display: none;
      font-size: 12px;
      max-height: 34px;
      overflow: hidden;
  }

  #main-slider .cycle-caption h3 {
      font-size: 14px;
      margin: 0;
      max-height: 32px;
      overflow: hidden;
  }

  #main-slider .cycle-prev,
  #main-slider .cycle-next{
      bottom: 27%;
  }

  .footer-widget-area {
      width: 100%;
  }

  #main-slider .cycle-pager {
      bottom: -3px;
  }

  #quick-contact li {
      margin: 10px 0;
      padding: 0 6px;
      font-size: 12px;
  }

  .quick-links {
      width: 100%;
  }

  .quick-links a.links-btn {
      display: block;
      width: 100%;
  }

  #quick-contact .top-news > p {
      font-size: 12px;
      margin: 0;
  }

  .site-title {
      clear: none;
      font-size: 26px;
  }

  .quick-links > ul {
      width: 100%;
  }

  .site-description {
      font-size: 12px;
      letter-spacing: 1.4px;
      margin-bottom: 0;
  }

  #featured-content article,
  #featured-content .featured-content-column-1 article,
  #featured-content .featured-content-column-2 article,
  #featured-content .featured-content-column-3 article,
  .news-post {
      width: 100%;
  }

  #main-slider .cycle-pager {
      bottom: -29px;
  }

  #main-slider .cycle-prev::after {
      padding: 15px 15px 15px 3px;
  }

  #main-slider .cycle-next::after {
      padding: 15px 5px 15px 15px;
  }

  .navigation .nav-links > div a {
    display: block;
  }

  .navigation .nav-links > div.nav-next,
  .navigation .nav-links > div.nav-previous {
    display: block;
    float: none;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  #main-slider .cycle-prev:hover,
  #main-slider .cycle-prev {
    left: -1px;
  }

  #main-slider .cycle-next:hover,
  #main-slider .cycle-next {
    right: 0;
  }

  #main-slider .cycle-prev::after {
    padding: 10px 15px 10px 12px;
  }

  #main-slider .cycle-next::after {
    padding: 10px 10px 10px 15px;
  }

}







/* 
.gallery-page-content{
    margin-left: 10px;
    margin-right: 10px;
} */

.teacher-page-content,.gallery-page-content,.staff-page-content{
    width: 100%;
}

.contact_information{
    float: left;
    width: 50%;
}

.teacher_single_image{
    float: right;
    width: 50%;
}



.contactdiv_detail ul li,.pub ul li{
    list-style-type: none;
}

 .cs-teacher, .cs-teachergrid .text {
    width: 100%;
    float: left;
}

.activedetail {
    background: #f7f7f7;
    border: solid 1px #ededed;
    border-radius: 5px;
    padding: 31px;
    color: #333333;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 1px 0 1px rgba(237,237,237,1);
    box-shadow: 0 1px 0 1px rgba(237,237,237,1);
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.activedetail .media .media-left {
    float: left;
}

.media-left{
    padding-right: 29px;
}

/*
.activedetail .media .media-body {
    overflow: hidden;
    width: auto;
} */

.pub,.research,.acadimic_experience,.cs-teacher {
    overflow: hidden;
    margin-bottom:30px;
}


.biography{
    margin-bottom: 20px;
}


.pub ul,.contactdiv_detail ul{
    margin-left: 0px !important;
}

.research p,.biography p,.acadimic_experience p{
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
    letter-spacing: 0.2px; 
}

.pub ul li{
    font-family: 'Open Sans', sans-serif;
    margin-bottom:10px;
    color: #666666;
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
}

.teacher-content-3 {
    margin-bottom: 20px;
}

.customfig{
    background-color: #f7f7f7;
}

.teacher_by_speciality{
    overflow: hidden;
    width: 31%;
    margin-top: 10px;
    float:left;
    min-height: 200px;
}

.teacher_by_speciality > h4{
    margin-bottom: 30px;
}

.teacher-content-3 h3 {
    font-size: 14px;
}

.teacher-page-content h1 {
    margin-bottom: 30px;
}

.teacher-page-content > .entire-title{
    margin-bottom: 30px !important;
    font-size: 24px !important;
} 
/* ROKIB CUSTOM CSS */

.global-layout-left-sidebar .teacher-content-3,
.global-layout-no-sidebar .gallery-content-3,
.global-layout-no-sidebar .staff-content-3{
    width: 23%;
}

.global-layout-left-sidebar .teacher-content-3,.global-layout-right-sidebar .teacher-content-3,
.global-layout-left-sidebar .gallery-content-3,.global-layout-right-sidebar .gallery-content-3,
.global-layout-left-sidebar .staff-content-3,.global-layout-right-sidebar .staff-content-3{
    width: 31%;
}

.global-layout-three-columns .teacher-content-3,.global-layout-three-columns .gallery-content-3
,.global-layout-three-columns .staff-content-3{
    width: 47%;
}

.teacher-content-3,.gallery-content-3,.staff-content-3{
    width: 23%;
    float: left;
    padding-right: 20px;
}

.global-layout-left-sidebar .news-post{
  width: 50%;
}

.global-layout-right-sidebar .news-post{
   width: 50%;
}

.global-layout-three-columns .news-post{
    width: 100%
}

.home .news-post{
    width: 50% !important;
}

.global-layout-no-sidebar .news-post{
  width: 31%;
}

.gallery-content-3 .figcontent,.teacher-content-3 .figcontent,.staff-content-3 .figcontent{
    margin-bottom: 20px;
    padding: 15px;
}

.gallery {
    margin-bottom: 1.5em;
    margin-left: 0px !important; 
    margin-right: 0px !important; 
}

.publication ul li{
    display: inline-block;
}


.advance_search_form{
    overflow: hidden;
    width: 100%;
 /*    width: 80%;
 margin: 0 auto; */
     margin-bottom: 30px;
}


.advance_search_field {
    width: 31%;
    float: left;
    margin-right: 2%;
    margin-bottom: 15px;
    overflow: hidden;
}

.advance_search_field label {
    display: block;
    margin-bottom: 5px;
}

.advance_search_field .adv-select{
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
    padding: 5px;
    width: 100%;
}



.pagenavigation{
    overflow: hidden;
}


.custom-pagination span,
.custom-pagination a {
  display: inline-block;
  padding: 2px 10px;
}
.custom-pagination a {
  background-color: #ebebeb;
  color: #ff3c50;
}
.custom-pagination a:hover {
  background-color: #ff3c50;
  color: #fff;
}
.custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0;
}
.custom-pagination span.dots {
  padding: 0;
  color: gainsboro;
}
.custom-pagination span.current {
  background-color: #ff3c50;
  color: #fff;
}



.closed{
    display: none;
}

.openBox{
    display: block;
}

#author_name,#paper_name,#pulication_year,#journal_name
{
    margin-top: 10px;
    color: #404040;
}


.Research_member{
    width: 100%;
    overflow: hidden;
}

.right_angle .fa-angle-down {
    font-size: 23px;
}


ul.publication_teacher {
    margin: 0;
    padding: 0;
}

ul.publication_teacher li {
    padding-right: 20px;
}

.publication.content {
    margin-bottom: 30px;
    display: list-item;
    margin-left: 2px;
}


.publication_research ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.publication_research ul li{
    margin-bottom: 8px;
}


/*  Media Queries
--------------------------- */
/* Smaller than standard 1139 (devices and browsers) */
@media only screen and (max-width:1169px){
    
}

/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1023px){


}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px){

        /* ROKIB CUSTOM CSS */

    .teacher-content-3,.staff-content-3{
         width: 50%;
         float: left;
    }

     .gallery-content-3{
        width: 50%;
        float: left;
    }

    .global-layout-no-sidebar .news-post,
    .global-layout-left-sidebar  .news-post,
    .global-layout-three-columns .news-post,
.global-layout-right-sidebar .news-post {

    	width: 50%;
     }

    .global-layout-left-sidebar .teacher-content-3,
    .global-layout-no-sidebar .gallery-content-3,
    .global-layout-no-sidebar .staff-content-3{
        width: 50%;
    }

    .global-layout-left-sidebar .teacher-content-3,.global-layout-right-sidebar .teacher-content-3,
    .global-layout-left-sidebar .gallery-content-3,.global-layout-right-sidebar .gallery-content-3,
    .global-layout-left-sidebar .staff-content-3,.global-layout-right-sidebar .staff-content-3{
        width: 50%;
    }

    .global-layout-three-columns .teacher-content-3,.global-layout-three-columns .gallery-content-3
    ,.global-layout-three-columns .staff-content-3{
        width: 50%;
    }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:610px){

    /* ROKIB CUSTOM CSS */
    
    .teacher-content-3,.staff-content-3{
        float: left;
        width: 50%;
    }

    .gallery-content-3{
        width: 50%;
        float: left;
    }

       .global-layout-no-sidebar .news-post,
    .global-layout-left-sidebar  .news-post,
    .global-layout-three-columns .news-post,
.global-layout-right-sidebar .news-post {

    	width: 100%;
     }


        .global-layout-left-sidebar .teacher-content-3,
    .global-layout-no-sidebar .gallery-content-3,
    .global-layout-no-sidebar .staff-content-3{
        width: 50%;
    }

    .global-layout-left-sidebar .teacher-content-3,.global-layout-right-sidebar .teacher-content-3,
    .global-layout-left-sidebar .gallery-content-3,.global-layout-right-sidebar .gallery-content-3,
    .global-layout-left-sidebar .staff-content-3,.global-layout-right-sidebar .staff-content-3{
        width: 50%;
    }

    .global-layout-three-columns .teacher-content-3,.global-layout-three-columns .gallery-content-3
    ,.global-layout-three-columns .staff-content-3{
        width: 50%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px){
        
  /* ROKIB CUSTOM CSS */
  
  .teacher-content-3,.staff-content-3{
        width: 100%;
        float: none;
   }

   .gallery-content-3{
        width: 100%;
        float: none;
    }  

   .global-layout-no-sidebar .news-post,
    .global-layout-left-sidebar  .news-post,
    .global-layout-three-columns .news-post,
.global-layout-right-sidebar .news-post 
{
    	width: 100%;
     }

       .global-layout-left-sidebar .teacher-content-3,
    .global-layout-no-sidebar .gallery-content-3,
    .global-layout-no-sidebar .staff-content-3{
        width: 100%;
    }

    .global-layout-left-sidebar .teacher-content-3,.global-layout-right-sidebar .teacher-content-3,
    .global-layout-left-sidebar .gallery-content-3,.global-layout-right-sidebar .gallery-content-3,
    .global-layout-left-sidebar .staff-content-3,.global-layout-right-sidebar .staff-content-3{
        width: 100%;
    }

    .global-layout-three-columns .teacher-content-3,.global-layout-three-columns .gallery-content-3
    ,.global-layout-three-columns .staff-content-3{
        width: 100%;
    }

  

}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.timeline{
 list-style:circle;
margin:0;
padding:0;
}
.site-info {
    display: none;
}
.openbox{
    display: block;
}

.closebox{
    display: none;
}

.teacher-content-3 {
    min-height: 450px;
}

.teacher-content-3.group.clearfix {
    height: 450px;
}

.advance_search_field input#name,.advance_search_field select#model,.advance_search_field input[name="publication_year"],.advance_search_field input#journal_name{
    width: 220px;
}

input#searchsubmit {
    margin-top: 35px;
}


.publication-title h4 {
    background-color: #f9f9f9;
    padding: 5px;
}

.pub_content {
    background-color: #f9f9f9;
    padding: 5px;
}

.pub_content ul {
  list-style:none;
  margin:0;
  paddding:0;

}

.publication-title p.DOI {
    margin-top: 15px;
    background-color: #f9f9f9;
    padding: 5px;
}


form#advanced-searchform {
    max-width: 750px;
}

.timeline li a.paper_name {
    font-weight:bold !important;
}

ul.tpublication li {
    display: inline-block;
    margin-right: 5px;
}


.meassage_widget > p{
    margin-left: 20px;
    margin-right: 20px;
}


.teacher-content-3 {
    height: 472px;
}


.speciality_new{
    width: 31% !important;
    float: left !important;
}


.faculty {
    overflow: hidden !important;
    width: 100% !important;
    margin-top: 30px !important;
}




.faculty .teacher-content-3{
    height: auto !important;
    min-height: auto !important;
}


.fgrid2{
    width: 35%;
    float: left;
    margin-right: 10px;
}

.fgrid1{
    width: 30%;
    float: left;
    margin-right: 10px;
}


.faculty .timeline li{
    list-style: none;
}

.sfteacher{
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
    background: #f7f7f7;
    border: solid 1px #ededed;
    border-radius: 5px;
    padding: 10px 15px;
    /* padding: 31px; */
    color: #333333;
    -webkit-box-shadow: 0 1px 0 1px rgba(237,237,237,1);
    box-shadow: 0 1px 0 1px rgba(237,237,237,1);
}

.sfgrid1{
    width: 23%;
    float: left;
    margin-right: 5px;
}

.sfgridIM1{
      width: 23%;
    float: right;
    margin-right: 5px;
}
.sfgrid2{
    width:47%;
    float: right;
    margin-right: 5px;
}

.tcategory{
  color:#313131;
}

.figcontent h3 {
    white-space: nowrap;
    overflow: hidden;
    font-size:15px;
}


.teacher_by_speciality {
    overflow: hidden;
    width: 31%;
    margin-top: 10px;
    float: left;
    min-height: 30px;
}